$max-width: 1212px;
$primary-button-color: #efa434;
$secondary-button-color: #2573c1;
$primary-dark-color: #172f4e;
$background-color: #f5f8fa;
$secondary-text-color: #ddd;
$secondary-text-dark-color: #686868;
